*{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(to right 177, 160, 67);
}
<style>
<header>
  .flex=container
    {
      height: 0
      display: flex
    }
    .flex-item{
      
    }
  </flex>
</style>